
ALTER TABLE catalog_items ADD COLUMN IF NOT EXISTS item_type text DEFAULT 'product';
ALTER TABLE catalog_items ADD COLUMN IF NOT EXISTS duration_minutes integer;
ALTER TABLE catalog_items ADD COLUMN IF NOT EXISTS sort_order integer;
ALTER TABLE catalog_items ADD COLUMN IF NOT EXISTS modifier_groups jsonb;

